* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(65, 39, 9);
  color: white;
}

/* container satu */
.container-satu {
  background-image: url("../bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav"
    "main";
  grid-template-rows: 100px 1fr;
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

nav h3 {
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
}

li {
  margin: 15px;
  display: inline-block;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border-radius: 45px;
}

li:hover {
  background-color: rgb(65, 39, 9);
}

.icon {
  display: flex;
  flex-direction: row;
}

svg {
  margin: 10px;
}

svg:hover {
  opacity: 0.7;
}

.hamburger {
  display: inline-block;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.hamburger:hover {
  opacity: 0.7;
}
span {
  width: 28px;
  height: 3px;
  background-color: white;
  margin: 2px;
}

/* main */

.main {
  grid-area: main;
  font-size: 2em;
  margin-left: 100px;
  margin-top: 200px;
}

.main span {
  background-color: rgba(179, 174, 165, 0);
  color: white;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(135, 37, 37);
}

.main p {
  font-style: italic;
}

.main button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 0.5em;
  font-weight: bold;
}

.main button:hover {
  transform: scale(1.1);
}

/* .container-dua */

.container-dua {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(65, 39, 9), black, rgb(65, 39, 9));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dua h1 {
  color: white;
  margin: 100px;
}

.container-dua h3 {
  font-size: 1em;
}

.caption {
  display: grid;
  grid-template-areas: " gambar desc";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 30px;
}

.gambar {
  grid-area: gambar;
  border-radius: 30px;
}

.gambar img {
  border-radius: 30px;
}

.desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}

/* .container-tiga */
.container-tiga {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(65, 39, 9), black, rgb(65, 39, 9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.head-tiga {
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: white;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.head-tiga p {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 15px;
}

.drink,
.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.minum,
.makan {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.menu img {
  width: 150px;
  height: 150px;
  border-radius: 180px;
}

.menu img:hover {
  opacity: 0.7;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

figcaption:hover {
  text-decoration: underline;
}

/* .container-empat */
.container-empat {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(to bottom, rgb(65, 39, 9), black, rgb(65, 39, 9));
  display: grid;
  grid-template-areas:
    "csatu"
    "cdua"
    "ctiga";
  grid-template-rows: 1fr 2fr 0.5fr;
}

.csatu {
  grid-area: csatu;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(213, 210, 210);
}

.csatu svg {
  width: 30px;
  height: 30px;
}

.csatu svg:hover {
  opacity: 0.7;
}
.cdua {
  grid-area: cdua;
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.cdua section {
  width: 150px;
  font-size: 0.8em;
}

.cdua section h4 {
  margin-top: 20px;
}

.cdua section ol {
  list-style: none;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cdua section ol li {
  margin: 1px;
}

.cdua li :hover {
  background-color: none;
}
.ctiga {
  grid-area: ctiga;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ctiga {
  grid-area: ctiga;
  width: 100vw;
  width: 100vw;
  display: inline-block;
}

.ctiga ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 0.9em;
  text-align: center;
}

/* media */

/* add utk pc */
@media (max-width: 1400px) {
  .container-dua h1 {
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .container-dua h3 {
    font-size: 0.9em;
  }
  .head-tiga p {
    font-size: 0.8em;
  }

  .head-tiga h1 {
    font-size: 1.3em;
  }
  .menu img {
    width: 120px;
    height: 120px;
  }
  figcaption {
    font-size: 0.9em;
  }
}

/* laptop */
@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
  li {
    margin: 3px;
  }

  .container-satu h3 {
    width: 40%;
  }
  nav {
    height: 100px;
  }
  svg {
    width: 30px;
    height: 20px;
    margin: 30px;
  }

  nav h3 {
    margin-left: 50px;
  }

  nav ol li {
    width: 100px;
  }
  .main {
    font-size: 1.5em;
  }
  .gambar img {
    height: 150%;
  }

  .container-dua h1 {
    margin-bottom: 50px;
    margin-top: 120px;
  }

  .container-dua img {
    height: 100%;
  }

  .head-tiga p {
    font-size: 0.9em;
  }

  .head-tiga h1 {
    font-size: 1.4em;
  }
  .menu img {
    width: 100px;
    height: 100px;
  }

  figcaption {
    font-size: 0.8em;
  }

  .csatu {
    height: 50px;
  }

  .cdua section h4 {
    margin-top: 15px;
  }
}
/* ipad */
@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  nav {
    height: 100px;
  }
  .main {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-left: 50px;
    font-size: 1.3em;
  }

  .animated {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    color: black;
    width: 30vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
  }

  a {
    color: black;
    font-size: 1.5 em;
    font-weight: bold;
  }

  .transition {
    right: 0px;
  }

  li:hover {
    text-decoration: underline;
    background-color: white;
  }

  svg {
    width: 30px;
    height: 20px;
    margin: 15px;
  }
  h3 {
    font-size: 2em;
  }

  .hamburger {
    display: inherit;
  }

  .container-dua h1 {
    margin-bottom: 50px;
    margin-top: 150px;
  }
  .caption img {
    height: 100%;
  }

  .caption .desc {
    font-size: 1em;
  }

  .menu h3 {
    font-size: 0.9em;
  }

  .head-tiga {
    gap: 8px;
  }

  .cdua ol li:hover,
  .ctiga ol li:hover {
    background-color: rgb(65, 39, 9);
    text-decoration: none;
  }
}

/* hp */
@media (max-width: 578px) {
  html {
    font-size: 55%;
  }

  ol {
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.8em;
  }

  .main {
    font-size: 1.5em;
    margin-top: 250px;
    margin-left: 30px;
  }

  .main button {
    margin-top: 15px;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
  .container-satu {
    background-position: center;
    background-size: cover;
  }

  svg {
    width: 30px;
    height: 20px;
    margin: 10px;
  }

  .caption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-dua h1 {
    font-size: 2em;
  }

  .caption img {
    width: 60vw;
    height: 30vh;
  }

  .caption .desc {
    align-items: center;
    font-size: 1.5em;
    width: 80vw;
  }

  .desc p {
    text-align: justify;
  }

  .menu h3 {
    font-size: 1.5em;
  }

  .head-tiga {
    gap: 10px;
  }

  .head-tiga {
    font-size: 1.5em;
  }

  figcaption {
    font-size: 1.2em;
  }
}
